# Binarios y ejecutable Go
backend/aegistrap_backend
backend/honeypot
*.exe
*.exe~
*.dll
*.so
*.dylib

# Archivos de estado y telemetría de ejecución
backend/banned_list.json
backend/sessions.json
backend/attack_history.txt
*.log

# Node & Frontend Build Outputs
node_modules/
frontend/node_modules/
frontend/dist/
dist/
.env

# Archivos del sistema y editores
.DS_Store
Thumbs.db
.vscode/
.idea/
